src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

<flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67" >
    <batch:job jobName="migrateWorkerservicerequestsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
        <batch:process-records>
            <batch:step name="foreachWorkerservicerequestInWorkdayGetWorkerservicerequestInNetsuiteStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
                <logger level="INFO" doc:name="Query Workerservicerequest in Netsuite" doc:id="3bde4c45-1ce4-4d5f-96f1-d3494609319c" />
            </batch:step>
            <batch:step name="foreachWorkerservicerequestInWorkdayUpsertWorkerservicerequestInNetsuiteStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
                <batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
                    <logger level="INFO" doc:name="Upsert Workerservicerequests in Netsuite" doc:id="7236a9f6-7aaf-4f40-94e3-e477a132e88d" />
                </batch:aggregator>
					<logger level="INFO" doc:name="Logger" doc:id="51e1ad80-b489-47e3-80c5-279bd467be2e" />
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished: #[payload]" />

        </batch:on-complete>

    </batch:job>
</flow>

</mule>


        