src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
<flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73" >
    <scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd" >
        <scheduling-strategy >
            <fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.start.delay}"/>
        </scheduling-strategy>
    </scheduler>
    <flow-ref doc:name="queryFlow" doc:id="ada07859-8839-4751-9623-68a08d31a472" name="queryFlow" />
    <logger level="INFO" doc:name="Log Workerservicerequests to sync" doc:id="65934ef1-2939-4fab-bde9-1886331527ea" message="#['Workerservicerequests to sync: ' ++ write(payload)]" />
    <flow-ref name="businessLogicFlow" doc:name="businessLogicFlow" doc:id="e16bf02c-b833-47de-afd5-2329ce1fab2b" />
    <error-handler >
        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
            <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
        </on-error-propagate>
    </error-handler>
</flow>
<flow name="queryFlow">
    <os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
        <os:default-value><![CDATA[${watermark.default.expression}]]></os:default-value>
    </os:retrieve>
    <ee:transform doc:name="Transform Message" doc:id="5ef9f068-c500-4110-ac92-434edf0eabc8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
   ns0#Get_Workers_Request: {
       ns0#Request_Criteria: {

           ns0#Exclude_Inactive_Workers : true,
           ns0#Exclude_Contingent_Workers : false,
           ns0#Exclude_Employees : false,
           ns0#Transaction_Log_Criteria_Data: [{
               ns0#Transaction_Date_Range_Data: {
                   ns0#Updated_From: vars.lastQueryTimestamp,
                   ns0#Updated_Through: now() - |PT6S|
               }
           }]
       },
        ns0#Response_Filter: {
            ns0#Count: p('page.size')
        },
       ns0#Response_Group: {
           ns0#Include_Roles : true,
           ns0#Include_Personal_Information: true,
           ns0#Include_Organizations: true,
           ns0#Include_Employment_Information: true,
           ns0#Include_Reference : true
       }
   }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<workday:invoke service="Human_resources" doc:name="Invoke" doc:id="e9dfffca-f050-4db3-be66-61bc72cbd813" config-ref="Workday_Config" operation="Get_Workers"/>
		<logger level="INFO" doc:name="Query Workerservicerequests from  Workday" doc:id="08f68fa6-4350-4e49-86c3-0736bb52ecc1" message="wday retVal=#[payload]"/>
<!--     <os:store key="watermark" failIfPresent="false" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp"> -->
<!--         <os:value>#[max(payload map $.LastModifiedDate)]</os:value> -->
<!--     </os:store> -->

</flow>
</mule>


        