src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
    xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
    <flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73">
        <scheduler doc:name="Scheduler"
            doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd">
            <scheduling-strategy>
                <fixed-frequency frequency="${scheduler.frequency}"
                    startDelay="${scheduler.start.delay}" />
            </scheduling-strategy>
        </scheduler>
        <flow-ref doc:name="queryFlow"
            doc:id="ada07859-8839-4751-9623-68a08d31a472" name="queryFlow" />
		<flow-ref name="businessLogicFlow" doc:name="businessLogicFlow" doc:id="e16bf02c-b833-47de-afd5-2329ce1fab2b" />
		<error-handler >
        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
            <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
        </on-error-propagate>
    </error-handler>
</flow>
<flow name="queryFlow">
    <os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve updatedThrough">
        <os:default-value ><![CDATA[#[read(p('watermark.default.expression'))]]]></os:default-value>
    </os:retrieve>
		<set-variable value="#[now() - |PT6S|]" doc:name="updatedThrough" doc:id="3df48cca-e3cc-46bd-a730-fc6777f10c03" variableName="updatedThrough"/>
		<ee:transform doc:name="Create Get Workers Request" doc:id="5ef9f068-c500-4110-ac92-434edf0eabc8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
   ns0#Get_Workers_Request: {
       ns0#Request_Criteria: {

           ns0#Exclude_Inactive_Workers : true,
           ns0#Exclude_Contingent_Workers : false,
           ns0#Exclude_Employees : false,
           ns0#Transaction_Log_Criteria_Data: [{
               ns0#Transaction_Date_Range_Data: {
                   ns0#Updated_From: vars.lastQueryTimestamp,
                   ns0#Updated_Through: vars.updatedThrough
               }
           }]
       },
        ns0#Response_Filter: {
            ns0#Count: p('page.size')
        },
       ns0#Response_Group: {
           ns0#Include_Roles : true,
           ns0#Include_Personal_Information: true,
           ns0#Include_Organizations: true
       }
   }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<workday:human-resources operation="Get_Workers" doc:name="Human resources" doc:id="0491179f-77db-4157-87aa-377c7c176634" config-ref="Workday_Config" />
		<os:store doc:name="Store updatedThrough" doc:id="1fe6830b-0a79-4688-8422-7774d083e5ac" key="watermark" objectStore="watermarkStore">
			<os:value ><![CDATA[#[vars.updatedThrough]]]></os:value>
		</os:store>
		<ee:transform doc:name="Reposnse XML to JSON" doc:id="034976ed-3b1a-4b51-9663-2ac103ccf457" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Retrieve worker and organization data" doc:id="9259f405-bae3-42f1-80e4-7d6aae6ae1a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.Get_Workers_Response.Response_Data?)  payload.Get_Workers_Response.Response_Data.*Worker map {
	id				: $.Worker_Data.Worker_ID,
	orgNames 		: $.Worker_Data.Organization_Data.*Worker_Organization_Data map {
        name        : $.Organization_Data.Organization_Name
    }
} else []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
</flow>
</mule>


        
