src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <data-mapper:config name="GetWorkersResponseType_To_Map" transformationGraphPath="getworkersresponsetype_to_map_1.grf" doc:name="GetWorkersResponseType_To_Map"/>
    

	<flow name="triggerFlow" processingStrategy="synchronous"
		
		doc:description="This is the simpliest entry point to start the excecution of your Kick">
		
 		<poll doc:name="fireup Worker synchronization"> 
			<fixed-frequency-scheduler frequency="${poll.frequencyMillis}"
				startDelay="${poll.startDelayMillis}" />
			<watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="FIRST" selector-expression="#[payload.LastModifiedDate]"/>
			<processor-chain doc:name="query Workers and set collection">
                <logger message="Fetching Workday updates...#[new java.util.Date()]" level="INFO" doc:name="log 'Fetching workday updates...'"/>
				<wd-hr:get-workers config-ref="Workday_Human_Resource"
					doc:name="get Workers from Workday Human Resource"
					workersRequest-ref="#[org.mule.templates.WorkersRequest.create(lastQueryDate)]"></wd-hr:get-workers>
                <data-mapper:transform config-ref="GetWorkersResponseType_To_Map" doc:name="GetWorkersResponseType To Map">
                    <data-mapper:input-arguments>
                        <data-mapper:input-argument key="UpdatedThrough">#[payload.getRequestCriteria().getTransactionLogCriteriaData()[0].getTransactionDateRangeData().getUpdatedThrough()]</data-mapper:input-argument>

                    </data-mapper:input-arguments>
                    
                </data-mapper:transform>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>


			</processor-chain>
		</poll>
        <expression-filter expression="#[payload.size() &gt; 0]" doc:name="Filter empty payload"/>

        <logger level="INFO" doc:name="log worker's name" message="New Workday workers: #[payload]"/>
        <batch:execute name="createServiceNowAssets" doc:name="Batch Execute"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>

	
	</flow>

	
	
</mule>
