src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd">
    
    <flow name="triggerFlow" processingStrategy="synchronous" initialState="started">	
		<poll doc:name="fireup Worker synchronization">
		<fixed-frequency-scheduler frequency="${poll.frequencyMillis}"
			startDelay="${poll.startDelayMillis}" />
			<watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" />
			<processor-chain doc:name="query Workers">
			<logger message="Fetching Workday updates... #[flowVars.lastQueryDate.getTime()]" level="INFO" doc:name="Log 'Fetching workday updates...'"/>
                <dw:transform-message doc:name="Create Get Workers Request">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	requestCriteria: {
		excludeInactiveWorkers		: true,
		excludeContingentWorkers	: false,
		excludeEmployees			: false,
		transactionLogCriteriaData: [
			{
				transactionDateRangeData: {
					updatedFrom		: flowVars.lastQueryDate,
					updatedThrough	: now - |PT6S|
				},
			 	transactionTypeReferences: {
					transactionTypeReference: [{
						ID: [{
							type: "Business_Process_Type",
							value: "Hire Employee"
						}]
					}]
				}
			}
		]
	},
	
	responseGroup: {
		includeRoles				: true,
		includePersonalInformation	: true,
		includeOrganizations		: true, 
		includeEmploymentInformation: true,
		includeReference			: true,
		includeTransactionLogData	: true
	}

} as :object {class: "com.workday.hr.GetWorkersRequestType"}
]]></dw:set-payload>
                </dw:transform-message>

			<wd-hr:get-workers config-ref="Workday_Human_Resource" doc:name="Get Workers from Workday Human Resource" />
                <dw:transform-message doc:name="GetWorkersResponseType to Map">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%var response = payload as :object { class: "com.workday.hr.GetWorkersResponseType" }
---
response.responseData.worker map {
	id				: $.workerData.workerId,
	orgNames 		: $.workerData.organizationData.workerOrganizationData map {
		name		: $.organizationData.organizationName
	}
} unless (response.responseData is :null) otherwise []

]]></dw:set-payload>
                    <dw:set-variable variableName="lastQueryDate"><![CDATA[%dw 1.0
%output application/java
---
payload.requestCriteria.transactionLogCriteriaData[0].transactionDateRangeData.updatedThrough]]></dw:set-variable>
                </dw:transform-message>
			</processor-chain>
		</poll>


        <expression-filter expression="#[payload.size() &gt; 0]" doc:name="Filter empty result set"/>
        <logger message="New Workday workers: #[payload]" level="INFO" doc:name="log worker's name"/>


		        
		<batch:execute name="createServiceNowAssets" doc:name="Execute businessLogicBatch"/>
	</flow>


	
	
</mule>
